
NEXT_PUBLIC_API_URL=https://fixitnow-api-v1.vercel.app
# NEXT_PUBLIC_API_URL=http://localhost:5000
JWT_ACCESS_SECRET=accessSecret
JWT_REFRESH_SECRET=refreshSecret

NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=


